/* This file only has styles for the score page */

.page-wrapper.score-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.score-card {
    background-color: var(--element-bg);
    box-shadow: var(--element-shadow);
    
    border-radius: 1.5rem;
    padding: 3rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.score-card h1 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 0;
}

.score-label {
    font-size: 1.25rem;
    font-style: italic;
    color: #626C7F; /* Sub-text color */
    margin-top: 2rem;
}

.score-value {
    font-size: 6rem;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.score-value span {
    font-size: 1.25rem;
    font-weight: 500;
    color: #626C7F;
    display: block; 
    margin-top: 0.5rem;
}

.play-again-form {
    margin: 0;
}

/* The .submit style is now in base.css! */
.submit {
    width: 100%; /* Just add the width specific to this page */
}