@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    color: #313E51;
}

/*-------------------Container-------------------*/

.container{
    height: 60vh;
    width: 70vw;
    position: absolute;
    inset: 0;
    margin: auto;
    /* display: none; */
}

.mainLeft{
    h1{
        font-size: 4rem;
        font-weight: 300;
        margin-top: 0;
        span{
            font-weight: 500;
        }
    }
}


/*-------------------Container-------------------*/



/*-------------------Question Page-------------------*/
.questionPage{
    height: 80vh;
    width: 70vw;
    position: absolute;
    inset: 0;
    margin: auto;
    display: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.mcq{
    font-size: 1.7rem;
    margin: 0;
    font-style: 600;
    margin-left: 1rem;
    align-self: center;
    font-family: 'Rubik';
}

.submit{
    background-color: #A729F5;
    color: #fff;
    border-radius: .75rem;
    border: 0;
    padding: .75rem;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, .14);
    cursor: pointer;
    font-family: 'Rubik';
    font-size: 1.5rem;
}

.active{
    border: 4px solid #A729F5;
    i{
        background-color: #A729F5 !important;
        color: #fff !important;
    }
}


/*-------------------Question Page-------------------*/



/*-------------------Common style-------------------*/

.icon{
    font-size: 20px;
    color: #626C7F;
}

.boxIcon i{
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    gap: 5rem;
    width: 100%;
    margin-top: 2rem;
}

.left{
    width: 60%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    width: 100%;
}

.subjectIcon{
    font-family: 'Rubik';
    display: flex;
    align-items: center;
    h2{
        margin-left: 1rem;
    }
}

.choice{
    background-color: #3B4D66;
    color: #fff;
    border-radius: .75rem;
    /* border: 0; */
    padding: .75rem;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, .14);
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.subject{
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
    margin-left: 3rem;
    font-family: 'Rubik';
}

/*-------------------Common style-------------------*/



/*-------------------Toggle Button-------------------*/
.toggleMode{
    display: flex;
    align-items: center;
    justify-content: end;
}
.switch {
  font-size: 13px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin: 0px 0.8rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #A729F5;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #fff;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}
.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
/*-------------------Toggle Button-------------------*/


/*-------------------Score Board-------------------*/
.ScoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    display: none;
}

.ScoreBoard .score-card {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 16px 40px 0px rgba(143,160,193,0.14);
    padding: 2.5rem 3rem;
    min-width: 350px;
    text-align: center;
}

.ScoreBoard .score-title {
    color: #A729F5;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Rubik';
}

.ScoreBoard .score-label {
    font-size: 1.5rem;
    color: #626C7F;
    margin-bottom: 2rem;
    font-family: 'Rubik';
}

.ScoreBoard .score-value {
    font-size: 4rem;
    font-weight: 700;
    color: #3B4D66;
    margin-bottom: 1.5rem;
    font-family: 'Rubik';
}

.ScoreBoard .score-value span {
    font-size: 2rem;
    color: #A729F5;
}

.ScoreBoard .submit {
    margin-top: 1rem;
}
/*-------------------Score Board-------------------*/